  /* contact page
  ==================================================*/
  .row-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  }

  .row-flex .inpt {
    padding-top: .5rem;
  }

  .row-flex .input-1 {
    width: 39%;
    margin: .1rem;
  }

  .row-flex .input-2 {
    width: 59%;
    margin: .1rem;
  }

  .row-flex .input-3 {
    width: 99%;
    margin: .1rem;
  }

  .row-flex .input-4 {
    width: 99%;
    margin: .1rem;
  }

/*KOLORY*/

.cont-form input {
     color: #fc0061 !important;
   }

  .contact-page {
        background-color: #2d1100;
        padding: 1rem;
        padding-top: 5rem;
  }

    .cont-form {
      padding-bottom: 1rem;
      border-bottom: .1rem solid #09466f;
    }

  .cont-form .input-contact {
      border: 1px solid #0f615c;
      background-color: #a15000;
  }
  .cont-form .textarea-contact {
          border: 1px solid #0f615c;
      background-color: #3e0a160e;
  }

  .cont-form .error {color: #FF0000;}


.c-info .contact-heading {
  color: #ff4800;
  text-align: center;
}

.c-info h2 {
  color: #ff7200;
}

.c-info h3 {
  border-top: none;
  color: #11d6bc;
}

.c-info h4 {
  border-top: none;
  color: #0086fb;
}

.c-info h5, h6 {
  border-top: none;
  color: aliceblue;
}

.c-info p {
  color: #e3c108;
}
.c-info a {
  color: #00F7B4;
  border-top: 1px solid #fb5d0a;
  border-bottom: 1px solid #fb5d0a;
  padding-bottom: .2rem;
  padding-top: .2rem;
  transition: all .3s ease-in-out;
}

.c-info a:hover {
  color: red;
  border-top: 3px solid #10d4f7;
  border-bottom: 3px solid #10d4f7;
  padding-bottom: .4rem;
  padding-top: .4rem;
}

.c-info .phone {
  color: #7bc60f;
}
.c-info .e-mail {
  color: #fea100;
}

  /*GOOGLE MAP*/
  .flex-map {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .flex-map iframe {
    padding-top: 50px;
  }

/*ERROR*/
.form-error {
  background-color: #b61e14;
  padding: .3rem 1rem;
  color: aliceblue !important;
  margin-top: -7px;
}
.cont-form .error {color: #FF0000;}


.box-primary-nav-trigger span {
    color: aliceblue !important;
}



.cont-form .input-contact {
    border: 1px solid #0f615c;
    background-color: white;
}
.cont-form .textarea-contact {
        border: 1px solid #0f615c;
    background-color: white;
}

.cont-form .btn-box {
background: rgba(255, 191, 0, 0) !important;
border: 1px solid #7e7e0b;
transition: all .3s ease;
}
.cont-form .btn-box:hover {
    background: rgba(255, 191, 0, 0) !important;
}

  .details-text i {
      margin-right: 10px;
  }

  .textarea-contact {
      height: 200px;
      width: 100%;
      border: solid 1px rgba(0, 0, 0, .1);
      position: relative;
  }

  .textarea-contact textarea {
    height: 100%;
    width: 100%;
    border: 0;
    padding: 20px;
    padding-top: 40px;
    background-color: transparent;
    float: left;
    z-index: 2;
    font-size: 14px;
    color: #fb9f00 !important;
  }

  .textarea-contact > span {
      position: absolute;
      top: 20px;
      left: 20px;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      font-size: 12px;
      text-transform: uppercase;
      color: #cdcdcd;
      -webkit-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
      z-index: 1;
  }

  .input-contact {
      height: 40px;
      width: 100%;
      border: solid 1px rgba(0, 0, 0, .1);
      position: relative;
      margin-bottom: 30px;
  }

  .input-contact input[type="text"] {
      height: 100%;
      width: 100%;
      border: 0;
      padding: 0 20px;
      float: left;
      position: relative;
      background-color: transparent;
      z-index: 2;
      font-size: 14px;
      color: #9a9a9a;
  }

  .input-contact > span {
      position: absolute;
      top: -50%;
      left: 20px;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      font-size: 12px;
      text-transform: uppercase;
      color: #cdcdcd;
      -webkit-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
      z-index: 1;
  }

  .input-contact > span.active,
  .textarea-contact > span.active {
      color: aliceblue;
      font-size: 10px;
      top: 0px;
      left: 5px;
      background-color: #ff4800;
      padding: 3px;
      margin-top: -15px !important;
  }

  input:focus,
  textarea:focus {
      outline: none;
  }

  .contact-info {
      margin-top: 20px;
  }

  .contact-info i {
      height: 30px;
      width: 30px;
      display: inline-block;
      background: #088b84;
      text-align: center;
      line-height: 33px;
      margin-right: 10px;
      color: #fff;
      font-size: 21px;
  }

  .contact-info p {
      display: inline-block;
      margin-right: 20px;
  }

  .btn-box {
      background: #ffbf00;
      padding: 10px 50px;
      border-radius: 0;
      color: #fff;
      margin-top: 20px;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 500;
  }

  .btn-box:hover,
  .btn-box:focus {
      background: #F5B700;
      color: #fff;
  }

@media screen and (max-width: 800px){
  .row-flex .input-1 {
    width: 99%;
    margin: .1rem;
  }
  .row-flex .input-2 {
    width: 99%;
    margin: .1rem;
  }
  }
